//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the address component.
// -----------------------------------------------------------------------------

.addresses-page {
  .section {
    &.your-addresses {
      padding: 48px 0;

      .container {

        button {
          margin-top: 24px;
          margin-bottom: 30px;

          @include on-event {
            outline: none;
          }
        }

        .inner-content-wrapper {
          margin-bottom: 15px;

          p {
            &.name {
              position: relative;
              padding-right: 60px;
            }

            .icon-wrapper {
              // position: relative;
              // top: 3px;
              position: absolute;
              right: 0;
              display: inline-block;

              button {
                margin: 0;
                padding: 0;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;

                &:first-child {
                  margin-left: 15px;
                  margin-right: 10px;
                }

                .fr-icon {
                  color: rgba(0,0,66,0.32);
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }

    @include respond-to(sm-down) {
      &.your-addresses {
        padding: 25px 0;

        .container {
          button {

            @include on-event {
            }
          }

          .inner-content-wrapper {

            p {
              &.name {

              }

              .icon-wrapper {

                button {

                  &:first-child {
                  }

                  .fr-icon {
                  }
                }
              }
            }
          }
        }
      }
    }

    @include respond-to(xs) {
      &.your-addresses {

        .container {
          .title-logout-wrapper {

            .title {
            }

            .anchor {

              &.logout {
              }

              &.return {
              }

              .text {
              }

              .fr-icon {

                &.ei-arrow-left {
                }
              }
            }
          }

          button {

            @include on-event {
            }
          }

          .inner-content-wrapper {

            p {
              .icon-wrapper {

                button {

                  &:first-child {
                  }

                  .fr-icon {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
