//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the faq page.
// -----------------------------------------------------------------------------

.faq-page {
  .section {
    &.content {
      padding: 40px 0;

      .sub-title {
        padding-top: 25px;
      }

      .accordion-wrapper {
        .card {
          margin-bottom: 5px;
          border: 0;

          .card-header {
            padding: 0;
            background-color: #fff;
            border: 0;

            a, button {
              &.btn, &.accordion-button {
                width: 100%;
                position: relative;
                display: block;
                padding: 10px;
                text-align: left;
                white-space: inherit;
                border-radius: 0;
                background: none;
                // background: linear-gradient(90deg, #fdc8000d 0%, #ff15ff17 100%);
                // border: 0;
                border: 1px solid #bfbfbf6b;
                transition: none;

                .fr-icon, svg {
                  position: absolute;
                  top: 50%;
                  font-size: 15px !important;
                  right: 8px;
                  color: #0000428f;
                  font-size: 24px;
                  transform: translate(0, -50%);

                  &.ei-chevron-up {
                    display: none;
                  }
                }

                h5 {
                  padding-right: 30px;
                }

                @include on-event {
                  padding: 11px;
                  background: $color-hotpink;
                  transition: none;
                  border: 0;

                  .fr-icon {
                    color: #fff;
                  }

                  h5 {
                    color: #fff;
                  }
                }

                h5 {
                  margin: 0;
                  color: #000042;
                  font: normal 14px/14px "Open Sans";
                }
              }
            }

            a[aria-expanded="true"]{
              background: $color-hotpink;
              border: 0;
              padding: 11px;

              .fr-icon {
                color: #fff;

                &.ei-chevron-up {
                  display: block;
                }

                &.ei-chevron-down {
                  display: none;
                }
              }

              h5 {
                color: #fff;
                transition: none;
              }
            }
          }

          .card-body {
            padding: 10px;
            border: 1px solid #bfbfbf6b;

            p {
              margin: 0;
              color: #000042;
              font: normal 14px/20px "Roboto";
            }
          }
        }
      }
    }
  }

  @include respond-to(md-down) {
    .section {
      &.content {
        padding: 30px 0;

        .accordion-wrapper {
          .card {
            margin-bottom: 10px;

            .card-header {
              a {
                &.btn {
                  padding: 10px;

                  h5 {
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include respond-to(sm-down) {
    .section {
      &.content {
        .container {
          max-width: 100%;
        }

        .sub-title {
          padding-top: 15px;
        }

        .accordion-wrapper {
          .card {
            margin-bottom: 10px;

            .card-header {
              a {
                &.btn {
                  padding: 7px;

                  h5 {
                    font-size: 13px;
                    line-height: 16px;
                    font-weight: 600;
                  }

                  @include on-event {
                    padding: 8px;
                  }
                }
              }
            }

            .card-body {
              padding: 7px;

              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  @include respond-to(xs) {
    .section {
      &.content {
        padding: 20px 0;
      }
    }
  }
}
