//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.section {
  &.payment-methods {
    margin-top: 72px;
    padding: 20px 0;
    background-color: #fff;
    border-top: 1px solid rgba(237,69,151,0.32);

    .row-holder {
      .col-holder {
        .icon-holder {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  &.footer {
    padding: 75px 0;
    background-color: $color-brand;
    // background-image: url('../assets/images/footer/bg-flower.svg');
    background-position: center;
    background-size: cover;

    .row-holder {
      .col-holder {
        .row-holder-inner {
          .col-holder-inner {
            .subscribe {
              .holder {
                margin-bottom: 35px;
                border: 1px dashed rgba(237,69,151,0.32);
                border-radius: 4px;
                background-color: #fff;

                form {
                  @include flexbox;
                  width: 100%;
                  height: 73px;

                  .label {
                    margin: auto;
                    color: #312952;
                    font: bold 24px/32px "Pacifico";
                  }

                  .group {
                    margin: auto;
                    width: 380px;

                    input {
                      &.error {
                        border-color: #d20000;
                        background-color: #fff8f8;
                        color: #d20000;
                      }
                    }
                  }

                  .btn-wrapper {
                    margin: auto;

                    a, button {
                      padding: 13px 50px;
                      outline: none;
                      border: none;
                    }
                  }
                }
              }
            }
          }
        }

        .img-holder {
          display: inline-block;

          img {
            height: 72px;
            margin-bottom: 20px;
          }
        }

        p {
          margin: 0 0 32px 0;
          color: #2f2750;
          font: 400 14px/24px "Open Sans";
        }

        .instagram {
          #insta-feed {
            margin-top: 0;
          }

          .row-holder-inner {
            padding-right: 15px;
            padding-left: 15px;

            .col-holer-inner {
              padding-right: 3px;
              padding-left: 3px;
              margin-bottom: 6px;

              img {
                width: 100%;
              }
            }
          }

          p {
            margin-bottom: 24px;
            color: #2f2750;
            font: 800 14px/18px "Open Sans";

            a {
              color: $color-hotpink;
              transition: none;

              @include on-event {
              color: $color-hotpink2;
              }
            }
          }
        }

        ul {
          margin: 0;
          list-style: none;
          padding: 0;

          &.social-media {
            margin-bottom: 33px;

            li {
              display: inline-block;
              margin-right: 32px;

              a {
                display: inline-block;

                @include on-event {
                  color: $color-hotpink2;
                }

                span {
                  color: #ed4597;
                  text-align: center;
                  font: normal 32px/32px "Font Awesome 5 Brands";
                }
              }
            }
          }

          &.contact {
            margin-top: 24px;

            li {
              margin-bottom: 5px;
              color: #2f2750;
              font: normal 14px/24px "Open Sans";

              a {
                display: inline-block;
                color: #2f2750;

                span {
                  font-size: 18px;

                  &.icon {
                    position: relative;
                    top: 3px;
                    margin-right: 3px;
                  }
                }
              }
            }
          }

          &.sitemap {
            li {
              margin-bottom: 24px;
              color: #2f2750;
              font: normal 14px/18px "Helvetica";
              line-height: 18px;

              a {
                @include on-event {
                  color: $color-hotpink;
                }
              }

              &.text-heading {
                font: 800 14px/18px "Open Sans";
              }
            }
          }

          li {
            color: #2f2750;

            a {
              color: #2f2750;
            }
          }
        }
      }
    }
  }

  &.all-right-reserved {

    .holder {
      padding: 12px;
      background: #2F2750;

      .text-holder {
        @include flexbox;
        // text-align: center;

        p {
          margin: 0;
          text-align: center;
          color: #fff;
          font: normal 14px/24px "Roboto";

          &.FReyes {
            margin-left: auto;

            a {
              font-weight: bold;
              color: #fff;

              @include on-event {
                span {
                  display: none;
                }

                &:before {
                  content: "Richard FReyes";
                }
              }
            }
          }
        }
      }
    }
  }

  @include respond-to(md-down) {
    &.payment-methods {
      margin-top: 15px;

      .row-holder {
        .col-holder {
          .icon-holder {
            img {
            }
          }
        }
      }
    }

    &.footer {
      padding: 30px 0;

      .row-holder {
        .col-holder {

          .img-holder {

            img {
              margin-bottom: 15px;
            }
          }

          p {
            margin: 0 0 15px 0;
            font-size: 12px;
          }

          ul {

            &.social-media {
              margin-bottom: 15px;

              li {

                a {

                  @include on-event {
                  }

                  span {
                    font-size: 30px;
                  }
                }
              }
            }

            &.contact {
              margin-top: 0;
              margin: 0 0 30px 0;

              li {
                font-size: 12px;

                a {

                  span {

                    &.icon {
                    }
                  }
                }
              }
            }

            &.sitemap {
              li {
                margin-bottom: 10px;
                font-size: 12px;

                a {
                  @include on-event {
                  }
                }

                &.text-heading {
                }
              }
            }

            li {

              a {
              }
            }
          }
        }
      }
    }

    &.all-right-reserved {
      .holder {
        padding: 3px;

        .text-holder {

          p {

            &.FReyes {

              a {

                @include on-event {
                  span {
                  }

                  &:before {
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include respond-to(sm-down) {
    &.payment-methods {
      margin-top: 10px;
      padding: 10px 0;

      .container {
        max-width: 100%;
      }

      .row-holder {
        .col-holder {
          padding-left: 5px;
          padding-right: 5px;

          .icon-holder {
            img {
            }
          }
        }
      }
    }

    &.footer {
      padding: 15px 0 7px;

      .container {
        max-width: 100%;
      }

      .row-holder {
        .col-holder {

          .row-holder-inner {
            .col-holder-inner {
              .subscribe {
                .holder {
                  margin-bottom: 10px;

                  form {
                    height: inherit;
                    padding: 10px;
                    flex-wrap: wrap;

                    .group {
                      width: 100%;
                      margin-bottom: 10px;
                    }

                    .btn-wrapper,
                    button {
                      width: 100%;

                      a {
                        display: inline-block;
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }

          .img-holder {

            img {
              margin-bottom: 8px;
            }
          }

          .instagram {
            margin-top: 10px;
            margin-bottom: 15px;

            .insta-feed {
              margin-top: 0;
            }

            p {
              margin-bottom: 8px;
            }
          }

          p {
            margin: 0 0 10px 0;
            font-size: 11px;
          }

          ul {

            &.social-media {
              margin: 0 0 10px 0;

              li {
                margin-right: 15px;

                a {

                  @include on-event {
                  }

                  span {
                  }
                }
              }
            }

            &.contact {
              margin: 0 0 15px 0;

              li {

                a {

                  span {

                    &.icon {
                    }
                  }
                }
              }
            }

            &.sitemap {
              margin-bottom: 15px;

              li {
                margin-bottom: 8px;

                a {
                  @include on-event {
                  }
                }

                &.text-heading {
                }
              }
            }

            li {
              font-size: 11px;

              a {
              }
            }
          }
        }
      }
    }

    &.all-right-reserved {
      .holder {
        padding: 0;

        .text-holder {
          max-width: 100%;

          p {
            font-size: 12px;

            &.FReyes {

              a {

                @include on-event {
                  span {
                  }

                  &:before {
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include respond-to(xs) {
    &.payment-methods {

      .container {
      }

      .row-holder {
        .col-holder {

          .icon-holder {
            img {
            }
          }
        }
      }
    }

    &.footer {

      .container {
      }

      .row-holder {
        .col-holder {

          .img-holder {

            img {
            }
          }

          p {
          }

          ul {

            &.social-media {

              li {

                a {

                  @include on-event {
                  }

                  span {
                  }
                }
              }
            }

            &.contact {

              li {

                a {

                  span {

                    &.icon {
                    }
                  }
                }
              }
            }

            &.sitemap {
              margin-top: 10px;

              li {

                a {
                  @include on-event {
                  }
                }

                &.text-heading {
                }
              }
            }

            li {

              a {
              }
            }
          }
        }
      }
    }

    &.all-right-reserved {
      .holder {

        .text-holder {
          flex-wrap: wrap;

          p {
            width: 100%;
            line-height: 20px;

            &.FReyes {

              a {

                @include on-event {
                  span {
                  }

                  &:before {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
