//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------

.wrapper {
  width: 100%;
}

.fb-sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: rgba(248, 122, 123, 0.12);
}

.fb-sidebar::-webkit-scrollbar {
  width: 8px;
  background: #fff;
}

.fb-sidebar::-webkit-scrollbar-thumb {
  background: rgb(248, 122, 123);
  border: 2px solid #ed459621;
}


.fb-sidebar {
  z-index: 2;
  min-width: 244px;
  max-width: 244px;
  color: #000;
  background: #fff;
  border-top: 1px solid #ed459621;
  filter: drop-shadow(0px 62px 12px rgba(14, 4, 73, 0.25));
  transition: none;
  overflow-y: scroll;

  @include respond-to(md-down) {
    min-width: 200px;
    max-width: 200px;
  }

  &.sidebar-clear {
    filter: none;

    @include respond-to(sm-down) {
      min-width: 90px;
      max-width: 90px;

      &:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.4);
      }

      &.active {
        &::after {
          content: none;
        }
      }
    }
  }

  &.sidebar-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    padding-top: 99px;

    @include respond-to(sm-down) {
      padding-top: 87px;

      &.header-response {
        padding-top: 46px;
      }
    }
  }

  &.active {
  	min-width: 90px;
    max-width: 90px;
    text-align: center;

    ul, .ul {
      &.menu {
        &.dropdown,
        &.sitemap {
          display: none;
        }

        li, .li {
          &.fb-nav-item,
          &.accordion-item {
            a {
              padding: 15px 0;
              transition: none;

              svg {
                margin-right: 0;
              }

              span {
                display: block;
                margin: auto;

                &.label {
                  margin-top: 5px;
                  font-size: 10px;
                  line-height: 12px;
                  transition: none;
                }
              }

              &.active {
                background: rgba(248, 122, 123, 0.12);
              }
            }
          }
        }
      }

      &.services {
        margin: 0;
        padding: 15px 0;
        border-top: 1px solid rgba(248, 122, 123, 0.32);
        border-bottom: 1px solid rgba(248, 122, 123, 0.32);

        li {
          &.fb-services {
            padding: 0;
            margin: 4px;

            .wrapper {
              flex-wrap: wrap;

              .icon-holder {
                margin: 0;
                width: 100%;
              }

              .text-holder {
                p {
                  margin: 0;
                  font-size: 10px;
                  line-height: 12px;

                  &.desc {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      &.social {
        display: none;
      }
    }

    .copyright {
      display: none;
    }
  }

  ul, .ul {
    &.menu {
      margin: 0;

      li, .li {
        &.fb-nav-item, &.accordion-item {
          h2 {
            font-size: inherit;

            button {
              width: 100%;
              text-align: left;
              border: none;
              background: transparent;
            }
          }

          a, button {
            position: relative;
            display: block;
            padding: 14px 30px;
            text-decoration: none;
            transition: none;

            @include respond-to(md-down) {
              padding: 8px 10px;
            }

            .icon {
              color: #F87A7B;
              font-size: 18px;
              line-height: 18px;
            }

            .label {
              color: #0E0449;
              font-weight: bold;
              font-size: 14px;
              line-height: 18px;
              transition: none;

              @include respond-to(md-down) {
                font-size: 12px;
              }
            }

            .arrow {
              position: absolute;
              top: 50%;
              right: 15px;
              color: #0E0449;
              font-size: 18px;
              transform: translate(0, -50%);
            }

            &.active {
              background: rgba(248, 122, 123, 0.12);
            }

            @include on-event {
              background: rgba(248, 122, 123, 0.12);
            }
          }
        }

        &.fb-category {
          // padding-left: 33px;

          a {
            position: relative;
            padding: 12px 30px;
            color: #0E0449;
            font-size: 14px;
            line-height: 18px;

            @include on-event {
              color: #F87A7B;
              background: inherit;
            }

            @include respond-to(md-down) {
              padding: 12px 10px;
            }

            .arrow {

            }
          }
        }
      }

      &.dropdown {
        margin-bottom: 32px;

        @include respond-to(md-down) {
          margin-bottom: 15px;
        }
      }

      &.sitemap {
        padding: 32px 0;
        border-top: 1px solid rgba(248, 122, 123, 0.32);
        border-bottom: 1px solid rgba(248, 122, 123, 0.32);

        @include respond-to(md-down) {
          padding: 15px 0;
        }

        li {
          a {
            padding: 2px 30px;

            @include respond-to(md-down) {
              padding: 2px 10px;
            }
          }
        }
      }
    }

    &.services {
      padding: 32px 0;
      border-bottom: 1px solid rgba(248,122,123,0.32);

      @include respond-to(md-down) {
        padding: 15px 0;
      }

      li {
        &.fb-services {
          padding: 6px 16px;

          @include respond-to(md-down) {
            padding: 6px 10px;
          }

          .wrapper {
            @include flexbox;
            padding: 8px;
            border-radius: 2px;
            background: #FFF2F2;

            .icon-holder {
              margin-right: 12px;

              img {
                width: 28px;
              }
            }

            .text-holder {
              p {
                margin: 0;
                color: #0E0449;
                font-style: normal;
                font-size: 14px;
                line-height: 18px;

                @include respond-to(md-down) {
                  font-size: 12px;
                }

                &.text-heading {
                  font-weight: bold;
                  margin-bottom: 4px;
                }
              }
            }
          }
        }
      }
    }

    &.social {
      @include flexbox;
      justify-content: center;
      margin-top: 33px;

      li {
        a {
          color: #0E0449;
          font-size: 24px;
        }
      }
    }
  }

  .copyright {
    margin-bottom: 30px;
    text-align: center;
    color: rgba(14, 4, 73, 0.54);
    font-size: 14px;

    @include respond-to(md-down) {
      font-size: 12px;
    }
  }

  .logo{
  	display: block;
  	color: #000;
  	font-weight: 900;
  	padding: 10px 30px;
  	@include transition(.3s);
  }

  ul.components{
  	padding: 0;
  	@include transition(.3s);
  }

  ul, .ul{
    li, .li{
    	font-size: 16px;
    	>ul{
    		margin-left: 10px;
    		li{
    			font-size: 14px;
    		}
    	}
    	a{
		    display: block;
		    color: #000;
		    border-bottom: 1px solid rgba(255,255,255,.1);
		    span, svg {
		    	margin-right: 15px;
		    }
		    &:hover{
		    	color: #000;
		    }
    	}
    	&.active{
    		> a{
    			background: transparent;
    			color: #000;
    		}
    	}
    }
  }
}




#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s;
}