//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the overlays component.
// -----------------------------------------------------------------------------

.search-arrow,
.budget-arrow {
  &.reverse {
    &:after {
      transform: translate(0, -50%) rotate(180deg) !important;
    }
  }
}

.modal-budget {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1;
  display: none;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 16px 0 rgba(47,39,80,0.16);

  &.show {
    display: block;
  }

  .holder {
    margin-bottom: 8px;
    text-decoration: none;
    text-align: left !important;

    @include on-event {
      p {
        &.label {
          color: $color-hotpink;
        }

        &.price {
          color: rgba(49,41,82,1);
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    p {
      margin: 0;

      &.label {
        color: #312952;
        font: bold 14px/22px "Open Sans";
      }

      &.price {
        color: rgba(49,41,82,0.54);
        font: normal 12px/16px "Roboto";
      }
    }
  }

  @include respond-to(sm-down) {
    top: 47px;
  }
}

.modal-search {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1;
  display: none;
  // width: 100%;
  min-width: 130%;
  padding: 12px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 16px 0 rgba(47,39,80,0.16);

  @include respond-to(lg-down) {
    min-width: 150%;
  }

  @include respond-to(sm-down) {
    min-width: 200%;
    top: 47px;
  }

  &.show {
    display: block;
  }

  .label-heading {
    margin: 0 0 6px 0;
    color: rgba(49,41,82,0.54);
    font: normal 12px/16px "Roboto";

    &.categ {
      margin: 0;
    }

    &.others {
      margin-top: 12px;
    }
  }

  .hot-search {
    margin-bottom: 16px;

    .btn-holder {
      a {
        &.btn-hot-search {
          display: inline-block;
          padding: 3px 10px;
          color: #ED4597;
          font: bold 12px/20px "Open Sans";
          text-decoration: none;
          border: 1px solid #ED4597;
          border-radius: 5px;
          background-color: #fff;

          @include on-event {
            background-color: $color-hotpink;
            color: #fff;
          }
        }
      }
    }
  }

  .categories {
    a {
      &.f-btn-link {
        display: block;
        color: #312952;
        font: bold 14px/22px "Open Sans";
        text-decoration: none;

        @include on-event {
          color: $color-hotpink;
        }
      }
    }
  }
}
