//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the account page.
// -----------------------------------------------------------------------------

.template-customers-account {
  .account-page {
    .section {
      &.fr-address {

        .container {
          .title-logout-wrapper {

            .title {
            }

            .logout {

              .text {
              }

              .fr-icon {
              }
            }
          }

          h2 {
          }

          .row-holder {
            .col-holder {
              &:first-child {
              }

              h2 {
                .fr-icon {
                }
              }

              .content-wrapper {

                p {

                  &.name {
                  }
                }
              }
            }
          }

          .order-history {

            h2 {
            }

            table {

              th, td {
              }

              thead {

                tr {
                  th {
                  }
                }
              }

              tbody {
                tr {
                  th {

                    a {
                    }
                  }

                  td {
                  }
                }
              }
            }
          }
        }
      }

      @include respond-to(md-down) {
        &.fr-address {
        }
      }

      @include respond-to(sm-down) {
        &.fr-address {

          .container {
            .title-logout-wrapper {

              .title {
              }

              .logout {

                .text {
                }

                .fr-icon {
                }
              }
            }

            h2 {
            }

            .fr-icon {
            }

            .row-holder {
              .col-holder {

                h2 {
                  .fr-icon {
                  }
                }

                .content-wrapper {

                  p {

                    &.name {
                    }
                  }
                }
              }
            }

            .order-history {

              h2 {
              }

              table {

                th, td {
                }

                thead {

                  tr {
                    th {
                    }
                  }
                }

                tbody {
                  tr {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #edf4ff;

                    &:last-child {
                      border-bottom: 0;
                    }

                    th, td {
                      padding: 5px 10px;
                      font: normal 13px/14px "Roboto";

                      &:before {
                        color: #000042;
                        font: normal 13px/14px "Roboto";
                      }

                      a {
                        padding: 0;
                        font-size: 14px;
                        border: none;
                      }
                    }
                    th {

                      a {
                      }
                    }

                    td {
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
