//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contact page.
// -----------------------------------------------------------------------------

.template-page {
  .contact-page {
    .section {
      &.content {
        .container {
          .page-title {
          }

          .row-holder {
            padding: 0 100px;

            .col-holder {

              &.form {
                .form-wrapper {
                  padding: 30px;
                  background: #f5f5f5;
                  border: 1px solid $color-hotpink3;

                  label {
                    margin-bottom: 3px;
                    font: normal 14px/14px "Roboto";
                  }

                  input, textarea {
                    padding: 7px 8px;
                    font-size: 14px;
                    border: 0;
                    outline: none;

                    @include on-event {

                    }

                    &.fr-btn {
                      margin: 0;
                      padding: 10px 50px;
                      line-height: 14px;
                      border-radius: 24px;
                    }
                  }
                }
              }

              &.static {
              }

              .fr-icon {
              }

              .featured-title {
              }

              .desc {
              }
            }
          }
        }
      }

      @include respond-to(lg-down) {
        &.content {
          .container {
            .page-title {
            }

            .row-holder {
              padding: 0;

              .col-holder {

                &.form {
                  .form-wrapper {

                    label {
                    }

                    input, textarea {

                      @include on-event {

                      }

                      &.fr-btn {
                      }
                    }
                  }
                }

                &.static {
                }

                .fr-icon {
                }

                .featured-title {
                }

                .desc {
                }
              }
            }
          }
        }
      }

      @include respond-to(md-down) {
        &.content {
          .container {
            .page-title {
            }

            .row-holder {
              margin-top: 0;

              .col-holder {
                margin-top: 15px;

                &.form {
                  .form-wrapper {

                    label {
                    }

                    input, textarea {

                      @include on-event {

                      }

                      &.fr-btn {
                      }
                    }
                  }
                }

                &.static {
                  margin-top: 45px;

                  .featured-holder {
                    margin-bottom: 30px;
                  }
                }

                .fr-icon {
                }

                .featured-title {
                }

                .desc {
                }
              }
            }
          }
        }
      }

      @include respond-to(sm-down) {
        &.content {
          .container {
            .page-title {
            }

            .row-holder {

              .col-holder {

                &.form {
                  .form-wrapper {
                    padding: 15px 10px;

                    label {
                      font-size: 13px;
                    }

                    input, textarea {

                      @include on-event {

                      }

                      &.fr-btn {
                      }
                    }
                  }
                }

                &.static {
                  margin-top: 30px;

                  .featured-holder {
                    margin-bottom: 15px;
                  }
                }

                .fr-icon {
                  font-size: 50px;
                }

                .featured-title {
                }

                .desc {
                }
              }
            }
          }
        }
      }
    }
  }
}
