//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the message-ideas shopify page.
// -----------------------------------------------------------------------------

.template-page {
  .message-ideas-page {
    .section {
      &.page-content {
        .container {
          h1 {
            &.page-title {
            }
          }

          h2 {
            &.page-desc {
              margin-bottom: 8px;
            }
          }

          ul {
            display: block;
            list-style-type: disc;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;

            li {
              list-style-type: disc;

              &.page-desc {
              }
            }
          }
        }
      }

      @include respond-to(sm-down) {
        &.page-content {
          .container {
            h1 {
              &.page-title {
              }
            }

            li {
              &.page-desc {
              }
            }
          }
        }
      }
    }
  }
}
