//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the privacy-policy shopify page.
// -----------------------------------------------------------------------------

.template-page {
  .privacy-policy-page {
    .section {
      &.page-content {
        .container {
          h1 {
            &.page-title {
              margin-bottom: 8px;
            }
          }

          h2 {
            &.sub-title {
              margin-bottom: 8px;
              text-transform: none;
            }
          }
        }
      }
    }
  }
}
