//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains globals styles.
// -----------------------------------------------------------------------------

// start google material design
/* form starting stylings ------------------------------- */
.material-design {
  .group {
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 45px;
    width: 538px;
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
  }
  input {
    display: block;
    border: none;
    width: 100%;
    padding: 22px 24px 6px;
    color: #000043;
    font: normal 14px/20px "Roboto";
    border-radius: 5px;
    border: 1px solid rgba(237,69,151,0.32);
  }

  input:focus { outline:none; }

  /* LABEL ======================================= */
  label {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translate(0, -50%);
    margin: 0;
    color: rgba(0,0,67,0.32);
    font: normal 16px/22px "Roboto";
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;

    &.success {
      color: $color-hotpink;
    }
  }

  /* active state */
  input:focus ~ label, input:valid ~ label {
    top: 15px;
    left: 24px;
    color: rgba(0,0,67,0.32);
    font: normal 12px/16px "Roboto";
  }

  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%;
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
  	from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
  	from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
  	from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
}
// end google material design

// reviews
.reviews {
  margin-bottom: 20px;
  visibility: hidden;

  &.slick-initialized { visibility: visible; }


  .slider {
    outline: none;
  }

  .btn-slick {
    position: absolute;
    top: 5px;
    z-index: 1;

    &.fr-slick-prev {
      right: 25px;
    }

    &.fr-slick-next {
      right: 0;
    }
  }

  p {
    margin: 0;

    &.customer-name {
      margin-bottom: 8px;
      color: #312952;
      font: bold italic 16px/20px "Pacifico";
      line-height: 20px;
    }

    &.desc {
      display: -webkit-box;
      max-width: 100%;
      margin: 0 auto;
      height: 32px;
      color: #312952;
      font-size: 12px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font: normal italic 12px/16px "Roboto";
    }
  }

  @include respond-to(md-down) {
    margin-bottom: 10px;
  }

  @include respond-to(sm-down) {
    margin-top: 10px;
    margin-right: -10px;
    margin-left: -10px;

    a {
      font-size: 12px;
    }
  }
}
// reviews


// Marquee
.marquee {
  border-radius: 5px;

  .marquee-inner {
    span {
      width: 148.3333333333333px;
      height: 145px;

      img {
        width: 100%;
        border-radius: 5px;
      }
    }
  }

  @include respond-to(lg-down) {
    .marquee-inner {
      span {
        height: 123px;
      }
    }
  }

  @include respond-to(md-down) {
    .marquee-inner {
      span {
        height: 81px;
        width: 86px;
      }
    }
  }

  @include respond-to(sm-down) {
    margin-right: -10px;
    margin-left: -10px;
  }
}

.marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    // --move-initial: calc(-25% + var(--offset));
    --move-initial: calc(-10% + var(--offset));
    --move-final: calc(-100% + var(--offset));

    @include respond-to(sm-down) {
      --move-initial: calc(-0% + var(--offset));
      --move-final: calc(-75% + var(--offset));
    }
}

.marquee-inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 35s linear infinite alternate;
    animation-play-state: running;
}

.marquee span {
  padding: 0 2.5px;
  // padding: 0 0.2vw;
}

.marquee:hover .marquee-inner {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}
// Marquee

.border-brand-gradient {
  border: 2px solid;
  border-image-source: linear-gradient(90deg, #FDC800 0%, #FF15FF 100%) !important;
  border-image-slice: 1 !important;
}

// arrows up and down removed
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// start google material design
/* form starting stylings ------------------------------- */
.login-page,
.reset-page,
.register-page,
.search-page {
  .group {
    position: relative;
    margin-bottom: 45px;
  }
  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
  }
  input:focus { outline:none; }

  /* LABEL ======================================= */
  label 				 {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  /* active state */
  input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
  }

  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%;
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
  	from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
  	from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
  	from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
}
// end google material design


// no border
.no-border {
  border: none;
}
// no border

.outline-none {
  outline: none;
}

// content-wrapper
.inner-content-wrapper {
  padding: 16px;
  border: 2px solid #EDF4FF;
  border-radius: 4px;

  p {
    margin: 0;
    color: #000042;
    font: normal 14px/20px "Roboto";

    .default {
      color: #2ecc71;
    }

    &.name {
      font-weight: bold;
    }

    &.no-address {
      color: rgba(0,0,66,0.32);
    }
  }
}
// content-wrapper


// title logout
.title-logout-wrapper {
  @include flexbox;

  .title {
    margin: 0;
    color: #000042;
    font: 800 italic 32px/40px "Open Sans";
  }

  .anchor {
    margin: auto 0;
    color: #000042;
    text-decoration: none;
    font: bold 14px/20px "Roboto";

    &.logout {
      margin: auto 0;
    }

    &.return {
      margin: auto 32px auto auto;
    }

    .text {
      line-height: 20px;
    }

    .fr-icon {
      position: relative;
      top: 3px;
      margin-left: 8px;
      color: rgba(0,0,66,0.32);
      font-size: 20px;
      text-align: center;

      &.ei-arrow-left {
        margin-right: 8px;
      }
    }
  }

  @include respond-to(sm-down) {
    flex-wrap: wrap;

    .title {
      width: 100%;
      order: 3;
      margin-top: 15px;
      font-size: 19px;
      line-height: 19px;
    }

    .anchor {
      &.logout {
        order: 2;
      }

      &.return {
        margin: 0 auto 0 0;
        order: 1;

        .fr-icon {
          margin-left: 0;
        }
      }
    }
  }
}

.page {
  padding: 40px 0;

  @include respond-to(md-down) {
    padding: 30px 0;
  }

  @include respond-to(xs) {
    padding: 20px 0;
  }
}

.shadow-box {
  position: relative;
  padding: 15px;
  height: 100%;
  -webkit-box-shadow: 0 0 20px 0px #ededed;
  -ms-box-shadow: 0 0 20px 0px #ededed;
  -o-box-shadow: 0 0 20px 0px #ededed;
  box-shadow: 0 0 20px 0px #ededed;
  background: #fff;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 80%;
    bottom: 15px;
    z-index: -1;
    width: 50%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -ms-box-shadow: 0 15px 10px #777;
    -o-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
  }

  &:before {
    left: 10px;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  &:after {
    right: 10px;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  p {
    margin: 0;
  }
}

.section {
  &.page-content {
    .container {
      h1 {
        &.page-title {
          margin-bottom: 24px;

          @include respond-to(sm-down) {
            margin-bottom: 15px;
          }
        }
      }

      h2 {
        &.page-desc {
          margin-top: 25px;

          @include respond-to(sm-down) {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

.border-0 {
  border: 0;
}

main {
  &.main-sidenav {
    @include flexbox;

    .sections-wrapper {
      width: 100%;
    }
  }
}


// COPY
.order__times-main {
  margin-top: 10px;
}

.order__times-main ul.order__times-wrap {
  @include flexbox;
  padding-left: 0;
  margin-bottom: 0;
}

.order__times-main ul.order__times-wrap li,
.order__times-main ul.order__times-wrap .li {
  width: 49%;
  font-size: 12px;
  font-weight: 400;
  list-style: none;
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 3px;
  &:first-child {
     margin-right: 2%;
  }
}

.order__times-main ul.order__times-wrap div.li {
  width: 100%;
}

.order__times-main ul.order__times-wrap li span,
.order__times-main ul.order__times-wrap .li span {
  background: #f2f2f2;
  text-align: center;
  display: block;
  padding: 5px 0px;
  border-radius: 5px;
}

.order__times-main ul.order__times-wrap li.active span,
.order__times-main ul.order__times-wrap .li.active span {
  background:  $color-hotpink;
  color: #fff;
  border-radius: 4px;
}

.order__times-main ul.order__times-wrap li.not-available,
.order__times-main ul.order__times-wrap .li.not-available
.order__times-main ul.order__times-wrap li.not-available span,
.order__times-main ul.order__times-wrap .li.not-available span {
  background: #fcfcfc;
  color: #d7d7d7;
  cursor: none;
  pointer-events: none;
}

p.cart-error {
  color: red;
  font-size: 14px;
}

.required {
  border: 1px solid red !important;
}

.d-none {
  display: none !important;
}

.icon-vday {
  animation: heartbeat 0.8s infinite;
}

/* Animation */
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}